{% trans_default_domain "ShopifyBundle" %}

{% set selfTest = connector.selfTest %}
{% set ping = connector.ping %}
{% set connect = connector.connect %}

        
<!-- Connection Block -->
<ul class="list-unstyled">
   
    <li>
        <h4 class="font-md {% if selfTest %}text-success{% else %}text-danger{% endif %}">
            <i class="fa fa-check"></i>&nbsp;{{ 'admin.selftest'| trans }}
        </h4>
    </li>

    {% if selfTest %}
        <li>
            <h4 class="font-md {% if connect %}text-success{% else %}text-danger{% endif %}">
                <i class="fa fa-check"></i>&nbsp;{{ 'admin.connect'| trans }}
            </h4>
        </li>


        {% if connector.privateAppCredentials %}
            <li>
                <h4 class="font-md text-success">
                    <i class="fa fa-user-secret"></i>&nbsp;{{ 'admin.privateApp.enabled'| trans }}
                </h4>
            </li>
        {% else %}
            <li>
                <h4 class="font-md text-warning">
                    <i class="fa fa-user-secret"></i>&nbsp;{{ 'admin.privateApp.migrate'|trans|raw }}
                </h4>
            </li>
        {% endif %}

        {% if connector.logisticMode %}
            <li>
                <h4 class="font-md text-warning">
                    <i class="fa fa-truck"></i>&nbsp;{{ 'admin.logistic.enabled'| trans }}
                </h4>
            </li>
        {% endif %}

        {% if connector.happyColissimoPlugin %}
            <li>
                <h4 class="font-md text-warning">
                    <i class="fa fa-truck"></i>&nbsp;{{ 'admin.happy-colissimo.enabled'| trans }}
                </h4>
            </li>
        {% endif %}

        {% if connector.mondialRelayPlugin %}
            <li>
                <h4 class="font-md text-warning">
                    <i class="fa fa-truck"></i>&nbsp;{{ 'admin.mondial-relay.enabled'| trans }}
                </h4>
            </li>
        {% endif %}

        <li>
            {% if connector.verifyWebHooks %}
                <h4 class="font-md text-success">
                    <i class="fa fa-check"></i>&nbsp;{{ 'admin.webhooks.msg'| trans }}
                </h4>
            {% else %}
                <h4 class="font-md text-danger">
                    <i class="fa fa-times"></i>&nbsp;{{ 'admin.webhooks.err'| trans }}
                </h4>
            {% endif %}
        </li>

    {% endif %}
    
</ul>
    
{% if connect %}
    
<a 
    id="node-webhooks-btn" class="btn-lg btn-block btn-warning text-center" 
    href="{{ path('splash_connector_secured_action', { 
            "connectorName" :   connector.profile.name, 
            "webserviceId" :    connector.WebserviceId, 
            "action" :          "webhooks"
        }) }}"
    > 
    <i class="fa fa-refresh"></i> 
    {{ 'admin.webhooks.label' | trans }}
</a>
    
{% elseif connector.hasValidShopifyHost %}
    
<a 
    id="node-webhooks-btn" class="btn-lg btn-block btn-primary text-center" 
    href="{{ path('splash_connector_secured_action', { 
            "connectorName" :   connector.profile.name, 
            "webserviceId" :    connector.WebserviceId, 
            "action" :          "oauth"
        }) }}"
    > 
    <i class="fa fa-user-secret"></i> 
    {{ 'admin.connect' | trans }}
</a>
    
{% endif %}    
    
<!-- End Connection Block -->

